.scroller-container {
    position: relative;
}

.alert-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #555555bb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.alert-overlay h3 {
    color: #fff;
    font-weight: 400;
}

.debugcellstyle {
    background-color: brown !important;
}

.scroller-container {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 100000000000000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events:none;
}